
.title {
   font-size: var(--font-size-l);
   line-height: var(--line-height-l);
   color: var(--primary-color);
}

.text {
   font-size: var(--font-size-m);
   line-height: var(--line-height-m);
   color: var(--secondary-color);
}

.error {
   .title {
      color: var(--red-light);
   }

   .text {
      color: var(--red-dark); 
   }
}